NODE_ENV=development
PORT=3000
SECRET_KEY=tu-clave-secreta-super-segura
DATABASE_URL=postgresql://usuario:password@host/neondb?sslmode=require
EMAIL_USER=tu-login-smtp-de-brevo
EMAIL_PASS=tu-clave-smtp-de-brevo
EMAIL_FROM=correo-remitente-validado-en-brevo
BREVO_API_KEY=tu-api-key-de-brevo
